html, body
{
  background-color: transparent;
  color: #2e2f30;
  letter-spacing: 0.5px;
  font-family: "Source Sans Pro", Arial, sans-serif;
  height: 100vh;
  min-width: 1000px;
  overflow: auto;
  margin: 0;
}
#__nuxt, #__layout, #__layout>div{
  height: 100%;
  overflow: auto;
}
ul
{
  list-style: none;
}
p{
  padding: 0;
  margin: 0;
}
footer
{
  padding: 20px;
  text-align: center;
  border-top: 1px solid #ddd;
}

a, a:hover, a:focus, a:visited
{
  color: #41B883;
}
h3
{
  margin: 0;
  padding: 0;
}
.logo {
  width: 243px;
  height: 218px;
}

.page-enter-active, .page-leave-active
{
  transition: opacity .5s
}
.page-enter, .page-leave-active
{
  opacity: 0
}
.model_title
{
  line-height: 40px;
  height: 40px;
  padding: 0 10px;
  color: #2e2f30;
}
/*margin*/
.mt50
{
  margin-top: 50px;
}
